@import 'reset.css';
@import 'switzer.css';

:root {
}

html {
  background-color: black;
}

body {
  font-family: 'Switzer', system-ui, sans-serif;
  font-weight: 400;
  color: white;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;

  & nav {
    display: inline-flex;
    gap: 24px;
    background-color: azure
  }
}

section {
  padding: 24px;
}

.full-screen {
  height: 100vh;
}

#hero {
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 24px;
}

.big-logotype {
  width: 100%;
}

#work {
  background-color: blue;
}

#about {
  background-color: blueviolet;
}

#contact {
  background-color: brown;
}

#footer {
  background-color: cadetblue;
}
