@import 'reset.css';
@import 'switzer.css';

:root {
  --padding-md: 1.5rem;
}

@media (max-width: 640px) {
  :root {
    --padding-md: 1rem;
  }
}

html {
  background-color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: 'Switzer', system-ui, sans-serif;
  color: #ffffff;
}

p {
  line-height: 1.4;
  font-weight: 400;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

img {
  width: 100%;
  height: auto;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--padding-md) var(--padding-md) var(--padding-md);
  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.8) 0%,
      hsla(0, 0%, 0%, 0.79) 8.1%,
      hsla(0, 0%, 0%, 0.761) 15.5%,
      hsla(0, 0%, 0%, 0.717) 22.5%,
      hsla(0, 0%, 0%, 0.66) 29%,
      hsla(0, 0%, 0%, 0.593) 35.3%,
      hsla(0, 0%, 0%, 0.518) 41.2%,
      hsla(0, 0%, 0%, 0.44) 47.1%,
      hsla(0, 0%, 0%, 0.36) 52.9%,
      hsla(0, 0%, 0%, 0.282) 58.8%,
      hsla(0, 0%, 0%, 0.207) 64.7%,
      hsla(0, 0%, 0%, 0.14) 71%,
      hsla(0, 0%, 0%, 0.083) 77.5%,
      hsla(0, 0%, 0%, 0.039) 84.5%,
      hsla(0, 0%, 0%, 0.01) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
    ); /* Created using https://larsenwork.com/easing-gradients/ */

  & > nav {
    display: inline-flex;
    gap: 24px;

    & > a {
      font-weight: 600;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

.bottom-gradient {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: calc(3*var(--padding-md));
  bottom: 0;
  background:
    linear-gradient(
      to top,
      hsla(0, 0%, 0%, 0.8) 0%,
      hsla(0, 0%, 0%, 0.79) 8.1%,
      hsla(0, 0%, 0%, 0.761) 15.5%,
      hsla(0, 0%, 0%, 0.717) 22.5%,
      hsla(0, 0%, 0%, 0.66) 29%,
      hsla(0, 0%, 0%, 0.593) 35.3%,
      hsla(0, 0%, 0%, 0.518) 41.2%,
      hsla(0, 0%, 0%, 0.44) 47.1%,
      hsla(0, 0%, 0%, 0.36) 52.9%,
      hsla(0, 0%, 0%, 0.282) 58.8%,
      hsla(0, 0%, 0%, 0.207) 64.7%,
      hsla(0, 0%, 0%, 0.14) 71%,
      hsla(0, 0%, 0%, 0.083) 77.5%,
      hsla(0, 0%, 0%, 0.039) 84.5%,
      hsla(0, 0%, 0%, 0.01) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
  );
}

footer {
  padding-top: 16vw;

  & > p {
    font-size: 0.75em;
    text-align: center;
    color: #555;
    margin-bottom: 16px;
  }

  & > img {
    opacity: 0.25;
  }

  @media (max-width: 640px) {
    padding-top: 20vw;
  }
}

/* =========================
   Home page
   ========================= */

/* Hero section */

.hero {
  height: 75dvh;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* Project thumbnails */

h2 {
  font-size: 32px;
  font-weight: 600;
}

.rowan-thumbnail {
  background: url(../img/rowan-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/rowan-cover-mobile.webp);
  }
}

.pactio-thumbnail {
  background: url(../img/pactio-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/pactio-cover-mobile.webp);
  }
}

.upside-thumbnail {
  background: url(../img/upside-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/upside-cover-mobile.webp);
  }
}

.oaknorth-thumbnail {
  background: url(../img/oaknorth-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/oaknorth-cover-mobile.webp);
  }
}

@media (hover: hover) and (pointer: fine) {
  .featured-projects:hover .project,
  .featured-projects--hovering .project {
    opacity: 0.5;
  }

  .featured-projects:hover .project:hover,
  .featured-projects--hovering .project.project--active {
    opacity: 1;
  }
}

.project {
  display: block;
  aspect-ratio: 3/2;
  padding: var(--padding-md);
  background-size: cover;
  background-position: center;
  transition: opacity .3s ease-in-out;

  @media (max-width: 640px) {
    aspect-ratio: 3/4;
  }
}

.project-title {
  position: sticky;
  top: 68px;
  z-index: 2;
}

.project-description {
  opacity: 0.7;
}

/* About, Contact and Footer */

#about, #contact {
  padding: 16vw var(--padding-md) 0 var(--padding-md);
  @media (max-width: 640px) {
    padding-top: 20vw;
  }
}

.about-content, .contact-content {
  margin-top: 4vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
  font-size: 2.5vw;
  color: #777;
  text-wrap: pretty;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    font-size: 100%;
  }
}

.about-content div p {
  margin-bottom: 1em;

  & > strong {
    color: #ffffff;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;

  @media (max-width: 640px) {
    gap: 2vw;
  }

  & > a {
    color: #ffffff;
    transition: color .2s ease-in-out;

    &:hover {
      color: #777;
    }
  }
}

/* =========================
   Project pages
   ========================= */

.project-hero {
  height: 25dvh;
  min-height: 320px;
  padding: var(--padding-md);
  display: flex;
  align-items: end;
  @media (min-width: 1280px) {
    height: 35dvh;
  }
}

.project-details {
  display: flex;
  flex-grow: 1;
  text-wrap: pretty;
  gap: 16px;

  & > * {
    flex-basis: 0;
    font-size: 100%;

    @media (min-width: 1280px) {
      font-size: 1.25vw;
    }
  }

  & > :nth-child(1),
  & > :nth-child(2) {
    flex-grow: 1;
  }

  & > :nth-child(3) {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 1280px) {
      gap: 1.25vw;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.featured-image {
  padding: var(--padding-md) 0;
}

.project-interlude {
  display: flex;
  gap: 16px;
  padding: calc(3*var(--padding-md)) var(--padding-md);
  text-wrap: pretty;

  & > * {
    flex-basis: 0;
    flex-grow: 1;
  }

  & > :nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 1280px) {
      font-size: 1.25vw;
      gap: 1.25vw;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;

    & > :nth-child(1) {
      display: none;
    }
  }
}

.project-gallery {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-md);
  gap: var(--padding-md);

  & > img,
  & > video {
    background-color: #222222;
  }
}

.next-project {
  padding: calc(4*var(--padding-md)) 0;

  & > a {
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

/* =========================
   404 page
   ========================= */

.not-found {
  min-height: 100dvh;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  & > p {
    color: #777;
    max-width: 640px;
  }
}

.not-found-label {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #777;
}

.not-found a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline;
}