@import 'reset.css';
@import 'switzer.css';

:root {
  --padding-md: 1.5rem;
}

@media (max-width: 640px) {
  :root {
    --padding-md: 1rem;
  }
}

html {
  background-color: #000000;
  scroll-behavior: smooth;
}

body {
  font-family: 'Switzer', system-ui, sans-serif;
  color: #ffffff;
}

p {
  line-height: 1.4;
  font-weight: 400;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:focus,
  &:active {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
}

img {
  width: 100%;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--padding-md) calc(2*var(--padding-md)) var(--padding-md);
  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0.9) 0%,
      hsla(0, 0%, 0%, 0.889) 8.1%,
      hsla(0, 0%, 0%, 0.856) 15.5%,
      hsla(0, 0%, 0%, 0.806) 22.5%,
      hsla(0, 0%, 0%, 0.742) 29%,
      hsla(0, 0%, 0%, 0.667) 35.3%,
      hsla(0, 0%, 0%, 0.583) 41.2%,
      hsla(0, 0%, 0%, 0.495) 47.1%,
      hsla(0, 0%, 0%, 0.405) 52.9%,
      hsla(0, 0%, 0%, 0.317) 58.8%,
      hsla(0, 0%, 0%, 0.233) 64.7%,
      hsla(0, 0%, 0%, 0.158) 71%,
      hsla(0, 0%, 0%, 0.094) 77.5%,
      hsla(0, 0%, 0%, 0.044) 84.5%,
      hsla(0, 0%, 0%, 0.011) 91.9%,
      hsla(0, 0%, 0%, 0) 100%
    ); /* Created using https://larsenwork.com/easing-gradients/ */

  & > nav {
    display: inline-flex;
    gap: 24px;

    & > a {
      font-weight: 600;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5px;
        background-color: #fff;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

.bottom-gradient {
  position: fixed;
  z-index: 9;
  width: 100%;
  height: calc(5*var(--padding-md));
  bottom: 0;
  background:
    linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.011) 8.1%,
      hsla(0, 0%, 0%, 0.044) 15.5%,
      hsla(0, 0%, 0%, 0.094) 22.5%,
      hsla(0, 0%, 0%, 0.158) 29%,
      hsla(0, 0%, 0%, 0.233) 35.3%,
      hsla(0, 0%, 0%, 0.317) 41.2%,
      hsla(0, 0%, 0%, 0.405) 47.1%,
      hsla(0, 0%, 0%, 0.495) 52.9%,
      hsla(0, 0%, 0%, 0.583) 58.8%,
      hsla(0, 0%, 0%, 0.667) 64.7%,
      hsla(0, 0%, 0%, 0.742) 71%,
      hsla(0, 0%, 0%, 0.806) 77.5%,
      hsla(0, 0%, 0%, 0.856) 84.5%,
      hsla(0, 0%, 0%, 0.889) 91.9%,
      hsla(0, 0%, 0%, 0.9) 100%
  );
}

/* --- HOMEPAGE --- */

/* Hero section */

.hero {
  height: 75dvh;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* Project thumbnails */

h2 {
  font-size: 32px;
  font-weight: 600;
}

.rowan-thumbnail {
  background: url(../img/rowan-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/rowan-cover-mobile.webp);
  }
}

.pactio-thumbnail {
  background: url(../img/pactio-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/pactio-cover-mobile.webp);
  }
}

.upside-thumbnail {
  background: url(../img/upside-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/upside-cover-mobile.webp);
  }
}

.oaknorth-thumbnail {
  background: url(../img/oaknorth-cover.webp);

  @media (max-width: 640px) {
    background: url(../img/oaknorth-cover-mobile.webp);
  }
}

.featured-projects:hover .project,
.featured-projects--hovering .project {
  opacity: 0.5;
}

.featured-projects:hover .project:hover,
.featured-projects--hovering .project.project--active {
  opacity: 1;
}

.project {
  display: block;
  aspect-ratio: 3/2;
  padding: var(--padding-md);
  background-size: cover;
  background-position: center;
  transition: opacity .3s ease-in-out;

  @media (max-width: 640px) {
    aspect-ratio: 3/4;
  }
}

.project-title {
  position: sticky;
  top: 68px;
  z-index: 2;
}

.project-description {
  opacity: 0.6;
}

/* About, Contact and Footer */

#about, #contact {
  padding: 16vw var(--padding-md) 0 var(--padding-md);
}

.about-content, .contact-content {
  margin-top: 4vw;
  display: flex;
  gap: 4vw;
  font-size: 2.5vw;
  line-height: 1.4;
  color: #666666;
  text-wrap: pretty;

  & > * {
    flex: 1;
    min-width: 0;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    font-size: 100%;
  }
}

.about-content div p {
  margin-bottom: 1em;

  & > strong {
    color: #ffffff;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;

  @media (max-width: 640px) {
    gap: 2vw;
  }

  & > a {
    color: #ffffff;
    transition: color .2s ease-in-out;

    &:hover {
      color: #666666;
    }
  }
}

footer {
  padding: 16vw var(--padding-md) var(--padding-md) var(--padding-md);
}

/* --- PROJECT PAGE --- */

/* .project-hero {
  height: 100dvh;
}

.rowan-hero {
  background: url(../img/rowan-cover.webp);
  background-size: cover;
  background-position: center;

  @media (max-width: 640px) {
    background: url(../img/rowan-cover-mobile.webp);
    background-size: cover;
    background-position: center;
  }
} */

.project-hero {
  height: 25dvh;
  min-height: 320px;
  padding: var(--padding-md);
  display: flex;
  align-items: end;
  gap: 16px;
}

.project-details {
  display: flex;

  & > * {
    flex-basis: 0;
    line-height: 1.4;
  }

  & > :nth-child(1),
  & > :nth-child(2) {
    flex-grow: 1;
  }

  & > :nth-child(3) {
    flex-grow: 2;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    gap: 16px;
  }

  & > h1 {
    font-size: 100%;
  }
}

.project-gallery {
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  gap: var(--padding-md);
}