@import 'reset.css';
@import 'switzer.css';

:root {
  --padding-md: 1.5rem;
  --font-semibold: 600;
}

html { background-color: #000000; }

body {
  font-family: 'Switzer', system-ui, sans-serif;
  font-weight: 400;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  & > nav {
    display: inline-flex;
    gap: 24px;

    & > a {
      font-weight: var(--font-semibold);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* HOMEPAGE */

/* Hero section */

#hero {
  background: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  height: 100vh;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

/* Projects */

h2 {
  font-size: 32px;
  font-weight: var(--font-semibold);
}

.project {
  display: block;
  aspect-ratio: 3/2;
  padding: var(--padding-md);
}

.project-title {
  position: sticky;
  top: 68px;
  z-index: 2;
}

.project-description {
  opacity: 0.6;
}

.rowan-thumbnail {
  background: url(../img/rowan-cover.webp);
  background-size: cover;
  background-position: center;
}

/* Other */

#about {
  background-color: blueviolet;
  padding: var(--padding-md);
}

#contact {
  background-color: brown;
  padding: var(--padding-md);
}

#footer {
  background-color: cadetblue;
}
