@import 'reset.css';
@import 'switzer.css';

:root {
}

html { background-color: #000000; }

body {
  font-family: 'Switzer', system-ui, sans-serif;
  font-weight: 400;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  & > nav {
    display: inline-flex;
    gap: 24px;

    & > a {
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* HOMEPAGE */

section {
  padding: 24px;
}

#hero {
  background: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.big-logotype {
  width: 100%;
}

#work {
  background-color: blue;
}

.project {
  height: 100vh;
}

.project-title {
  position: sticky;
  top: 80px;
  z-index: 2;
}

#about {
  background-color: blueviolet;
}

#contact {
  background-color: brown;
}

#footer {
  background-color: cadetblue;
}
