@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

:root {
}

/* =========================
   Layout Containers
   ========================= */

.full-screen {
  height: 100vh;
  width: 100vw;
}

#hero {
  background-color: green;
}

#work {
  background-color: blue;
}

#about {
  background-color: blueviolet;
}

#contact {
  background-color: brown;
}

#footer {
  background-color: cadetblue;
}