@import 'reset.css';
@import 'switzer.css';

:root {
  --padding-md: 1.5rem;
  --font-semibold: 600;
}

@media (max-width: 640px) {
  :root {
    --padding-md: 1rem;
  }
}

html { background-color: #000000; }

body {
  font-family: 'Switzer', system-ui, sans-serif;
  font-weight: 400;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}


header {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

  & > nav {
    display: inline-flex;
    gap: 24px;

    & > a {
      font-weight: var(--font-semibold);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* HOMEPAGE */

/* Hero section */

#hero {
  background: url(../img/hero-bg.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  height: 100vh;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

/* Projects */

h2 {
  font-size: 32px;
  font-weight: var(--font-semibold);
}

.rowan-thumbnail {
  background: url(../img/rowan-cover.webp);
}

.pactio-thumbnail {
  background: url(../img/pactio-cover.webp);
}

.upside-thumbnail {
  background: url(../img/upside-cover.webp);
}

.oaknorth-thumbnail {
  background: url(../img/oaknorth-cover.webp);
}

.project {
  display: block;
  aspect-ratio: 3/2;
  padding: var(--padding-md);
  background-size: cover;
  background-position: center;
}

.project-title {
  position: sticky;
  top: 68px;
  z-index: 2;
}

.project-description {
  opacity: 0.6;
}



/* Other */

#about, #contact {
  padding: 8vw var(--padding-md);
}

.about-content, .contact-content {
  margin-top: 4vw;
  display: flex;
  gap: 4vw;
  font-size: 2.5vw;
  line-height: 1.4;

  & > * {
    flex: 1;
    min-width: 0;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 8vw var(--padding-md) var(--padding-md) var(--padding-md);
}
